#staff-detail.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "staffDetailModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#staffDetailModalLabel.modal-title Detail Staff
			.modal-body
				.row-fluid
					.col-md-10.col-md-offset-1
						#modalTab
							.tab-content
								.tab-pane.active
									#photo{style: "text-align:center;"}
										= image_tag(@staff.avatar.image.url(:medium), class: "img-circle  img-thumbnail", width: "140", height: "140")
									%hr.rainbow
									%h3.media-heading{style: "text-align:center;"}
										= @staff.full_name
										%small= @staff.faculty.name
										%br
										%small= @staff.user.username
									%hr.rainbow
									.row
										.col-sm-2
											%h3{style: "margin-top: 0; margin-bottom: 0;"}
												%i.fa.fa-envelope
										.col-sm-10
											%address= @staff.user.email
									%hr
									.row
										.col-sm-2
											%h1{style: "margin-top: 0; margin-bottom: 0;"}
												%i.fa.fa-map-marker
										.col-sm-10
											%address= @staff.address
									%hr
									.row{style: "text-align:center;"}
										.col-sm-6
											%strong Tanggal Lahir :
											%br
											%i.fa.fa-calendar
											= @staff.born.try(:to_formatted_s, :long_ordinal)	
										.col-sm-6
											%strong Staff Sejak :
											%br
											%i.fa.fa-calendar-o
											= @staff.staff_since.try(:to_formatted_s, :long_ordinal)
					.clearfix
			.modal-footer
				= link_to reset_password_staff_path(@staff), class: "btn btn-danger", method: :post, data: {confirm: "Konfirmasi reset password ?"} do
					%i.fa.fa-key
					Reset Password
				%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
					%i.fa.fa-times
					Close