#assessment-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "assessmentModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
        %h4#assessmentModalLabel.modal-title
          = @assessment.new_record? ? "Tambah Aspek Penilaian" : "Edit Aspek Penilaian"
      = form_for @assessment, remote: "true", html: {role: "form", class: "form-horizontal"} do |f|
        .modal-body
          = render 'layouts/shared/errors', :object => f.object
          .form-group
            = f.label :aspect, "Aspek Penilaian", class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :aspect, class: "form-control", placeholder: "Aspek Penilaian"
          .form-group
            = f.label :percentage, "Persentase", class: "col-sm-3 control-label"
            .col-sm-9
              = f.number_field :percentage, class: "form-control", placeholder: "Persentase"
          .form-group
            = f.label :categotry, "Katekori Aspek Penilaian", class: "col-sm-3 control-label"
            .col-sm-9
              = f.select :category, options_for_select(Assessment::CATEGORY.map{|cat| cat}, selected: @assessment.category), {}, {class: "form-control"}
        .modal-footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-upload
            Simpan
          %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
            %i.fa.fa-times
            Cencel