#password-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "passwordModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#passwordModalLabel.modal-title Ubah Password
			= form_for account, url: password_path, remote: "true", method: :put, html: {role: "form", class: "form-horizontal"} do |f|
				.modal-body
					= render 'layouts/shared/errors', :object => f.object
					.form-group
						= f.label :password,class: "col-sm-3 control-label"
						.col-sm-9
							= f.password_field :password, class: "form-control", placeholder: "password"
					.form-group
						= f.label :password_confirmation, class: "col-sm-3 control-label"
						.col-sm-9
							= f.password_field :password_confirmation, class: "form-control", placeholder: "Konfirmasi password"
				.modal-footer
					%button.btn.btn-primary{type: "submit"}
						%i.fa.fa-upload
						Simpan
					%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
						%i.fa.fa-times
						Cencel