#student-detail.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "studentDetailModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#studentDetailModalLabel.modal-title Detail Mahasiswa
			.modal-body{style: "text-align:center;"}
				.row-fluid
					.col-md-10.col-md-offset-1
						#modalTab
							.tab-content
								.tab-pane.active
									= image_tag("http://placehold.it/140x140", class: "img-circle", width: "140", height: "140")
									%h3.media-heading
										= @student.full_name
										%small= @student.class.to_s
									%p.text-left
										%strong Nim :
										%br
										%i.fa.fa-key
										= @student.nim
										%br
										%strong Tanggal Lahir :
										%br
										%i.fa.fa-calendar
										= @student.born.try(:to_formatted_s, :long_ordinal)	
										%br
										%strong Mahasiswa Sejak :
										%br
										%i.fa.fa-calendar-o
										= @student.student_since.try(:to_formatted_s, :long_ordinal)
										%br
										%strong Jurusan :
										%br
										%i.fa.fa-thumb-tack
										= @student.department.name
										%br
										%strong Alamat :
										%br
										%i.fa.fa-map-marker
										= @student.address
					.clearfix