#student-detail.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "studentDetailModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#studentDetailModalLabel.modal-title 
					%i.fa.fa-user
					Detail Mahasiswa
			.modal-body
				.row-fluid
					.col-md-10.col-md-offset-1
						#modalTab
							.tab-content
								.tab-pane.active
									#photo{style: "text-align:center;"}
										= image_tag(@student.avatar.image.url(:medium), class: "img-circle img-thumbnail", width: "140", height: "140")
									%hr.rainbow
									%h3.media-heading{style: "text-align:center;"}
										= @student.full_name
										%small= @student.department.name
										%br
										%small= @student.nim
										%br
										%small= @student.username
									%hr.rainbow
									.row
										.col-sm-2
											%h3{style: "margin-top: 0; margin-bottom: 0;"}
												%i.fa.fa-envelope
										.col-sm-10
											%address= @student.email
									%hr
									.row
										.col-sm-2
											%h1{style: "margin-top: 0; margin-bottom: 0;"}
												%i.fa.fa-map-marker
										.col-sm-10
											%address= @student.address
									%hr
									.row{style: "text-align:center;"}
										.col-sm-6
											%strong Tanggal Lahir :
											%br
											%i.fa.fa-calendar
											= @student.born.try(:to_formatted_s, :long_ordinal)	
										.col-sm-6
											%strong Angkatan :
											%br
											%i.fa.fa-calendar-o
											= @student.student_since
					.clearfix
			.modal-footer
				= link_to reset_password_student_path(@student), class: "btn btn-danger", method: :post, data: {confirm: "Konfirmasi reset password ?"} do
					%i.fa.fa-key
					Reset Password
				%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
					%i.fa.fa-times
					Close