<aside class="pull-left">
	<img src="<%= userable.photo %>" width="64" height="64" class="img-thumbnail">
</aside>
<section class="media-body">
	<header>
		<h3 class="media-heading">
			<%= userable.full_name %>
			<small>
				<cite title="type"><%= userable.type %></cite>
				<i class="fa fa-user"></i>
			</small>
		</h3>
	</header>
	<section>
		<article>
			<p><%= content %></p>
		</article>
	</section>
	<footer>
		<div class="row">
			<div class="col-md-6">
				<span class="label label-success">
					<i class="fa fa-calendar"></i>
					<%= created_at %>
				</span>
			</div>
			<div class="col-md-6">
				<div class="pull-right">
					<%= action %>
				</div>
			</div>
		</div>
	</footer>
</section>