#conference-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "conferenceModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#departmentModalLabel.modal-title Persetujuan Akhir Seminar / Sidang
			= form_for @conference, url: conference_path, remote: "true", html: {role: "form", class: "form-horizontal"} do |f|
				.modal-body
					= render 'layouts/shared/errors', :object => f.object
					.form-group
						= f.label :tanggal_dilaksanakan, class: "col-sm-3 control-label"
						.col-sm-9
							.input-group.date.datepicker
								= f.text_field :start, class: "form-control", placeholder: "Tanggal dilaksanakan", "data-format" => "YYYY-MM-DD"
								%span.input-group-addon
									%span.fa.fa-calendar
					- if @conference.type == "Sidang"
						= render partial: 'conferences/examiners_form', locals: { conference_field: f, conference: @conference}
				.modal-footer
					%button.btn.btn-primary{type: "submit"}
						%i.fa.fa-upload
						Simpan
					%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
						%i.fa.fa-times
						Cencel