#department-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "departmentModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
        %h4#departmentModalLabel.modal-title
          = @department.new_record? ? "Tambah Jurusan" : "Edit Jurusan"
      = form_for @department, remote: "true", html: {role: "form", class: "form-horizontal"} do |f|
        .modal-body
          = render 'layouts/shared/errors', :object => f.object
          .form-group
            = f.label :nama_jurusan, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :name, class: "form-control", placeholder: "Nama Jurusan"
          .form-group
            = f.label :website, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :website, class: "form-control", placeholder: "http://example.com"
          .form-group
            = f.label :director_manage_seminar_scheduling, "Panjadwalan Seminar", class: "col-sm-3 control-label"
            .col-sm-9
              .checkbox
                %label
                  = f.check_box :director_manage_seminar_scheduling
                  Perbolehkan
              %span.help-block
                Perbolehkan ketua prodi untuk mengatur jadwal seminar skripsi mahasiswa
          .form-group
            = f.label :director_manage_sidang_scheduling, "Penjadwalan Sidang", class: "col-sm-3 control-label"
            .col-sm-9
              .checkbox
                %label
                  = f.check_box :director_manage_sidang_scheduling
                  Perbolehkan
              %span.help-block
                Perbolehkan ketua prodi untuk mengatur jadwal sidang skripsi mahasiswa
          .form-group
            = f.label :director_set_local_seminar, "Pengaturan Lokal Seminar", class: "col-sm-3 control-label"
            .col-sm-9
              .checkbox
                %label
                  = f.check_box :director_set_local_seminar
                  Perbolehkan
              %span.help-block
                Perbolehkan ketua prodi untuk mengatur lokal seminar skripsi mahasiswa
          .fotm-group
            = f.label :director_set_local_sidang, "Pengaturan Lokal Sidang", class: "col-sm-3 control-label"
            .col-sm-9
              .checkbox
                %label
                  = f.check_box :director_set_local_sidang
                  Perbolehkan
              %span.help-block
                Perbolehkan ketua prodi untuk mengatur lokal sidang skripsi mahasiswa
          .clearfix
        .modal-footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-upload
            Simpan
          %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
            %i.fa.fa-times
            Cencel