#user-profile-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "lecturerProfileModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#lecturerProfileModalLabel.modal-title Profile Dosen
			= form_for user, url: profile_path, remote: "true", method: :put, html: {role: "form", class: "form-horizontal"} do |f|
				.modal-body
					= render 'layouts/shared/errors', :object => f.object
					#avatar{style: "text-align:center;"}
						= image_tag(avatar.image.url(:medium), class: "img-circle img-thumbnail", width: "140", height: "140")
					%hr
					= f.fields_for :avatar, avatar do |sa|
						= sa.hidden_field :id
						.form-group
							= sa.label :image, "Avatar", class: "col-sm-3 control-label"
							.col-sm-7
								= sa.file_field :image, id: "fileUpload"
								.input-group
									%input#filename.form-control.disabled{ placeholder: "Select File", readonly: true}
									%span#fileSelect.btn.btn-info.input-group-addon
										%i.fa.fa-folder-open-o
										Select File
					%hr
					.form-group
						= f.label :nip, "Nip", class: "col-sm-3 control-label"
						.col-sm-9
							= f.text_field :nip, class: "form-control", placeholder: "Nip"
					.form-group
						= f.label :nid, "Nid", class: "col-sm-3 control-label"
						.col-sm-9
							= f.text_field :nid, class: "form-control", placeholder: "Nid"
					.form-group
						= f.label :front_title, "Title Depan", class: "col-sm-3 control-label"
						.col-sm-9
							= f.text_field :front_title, class: "form-control", placeholder: "Dr. "
					.form-group
						= f.label :full_name, "Nama Lengkap", class: "col-sm-3 control-label"
						.col-sm-9
							= f.text_field :full_name, class: "form-control", placeholder: "Nama Lengkap"
					.form-group
						= f.label :back_title, "Title Belakang", class: "col-sm-3 control-label"
						.col-sm-9
							= f.text_field :back_title, class: "form-control", placeholder: "M.Sc"
							%span.help-block
								Pisahkan dengan koma jika memiliki banyak gelar
					.form-group
						= f.label :address, "Alamat",class: "col-sm-3 control-label"
						.col-sm-9
							= f.text_area :address, class: "form-control", placeholder: "Alamat..."
					.form-group
						= f.label :level, "Level Dosen", class: "col-sm-3 control-label"
						.col-sm-9
							= f.select :level, options_for_select(Lecturer::LEVEL, selected: user.level), {}, {class: "form-control"}
					.fom-group
						= f.label :born, "Tanggal Lahir", class: "col-sm-3 control-label"
						.col-sm-9
							.input-group.date.datepicker
								= f.text_field :born, class: "form-control", placeholder: "Tanggal Lahir", "data-format" => "YYYY-MM-DD"
								%span.input-group-addon
									%span.fa.fa-calendar
					.clearfix
				.modal-footer
					%button.btn.btn-primary{type: "submit"}
						%i.fa.fa-upload
						Simpan
					%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
						%i.fa.fa-times
						Cencel