#pkl-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "pklModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
        %h4#pklModalLabel.modal-title
          = @pkl.new_record? ? "Tambah Proposal Pkl" : "Edit Proposal Pkl"
      = form_for @pkl, remote: "true", html: {role: "form", class: "form-horizontal"} do |f|
        .modal-body
          = render 'layouts/shared/errors', :object => f.object
          .form-group
            = f.label :Judul, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :title, class: "form-control", placeholder: "Judul"
          = concentrations_select f, @pkl.concentration_id
          - if @pkl.new_record?
            = f.fields_for :papers, @pkl.papers.build do |cp|
              .form-group
                = cp.label :name_file, class: "col-sm-3 control-label"
                .col-sm-9
                  = cp.text_field :name, class: "form-control", placeholder: "Nama File e.g 'BAB 1'"
              .form-group
                = cp.label :file, class: "col-sm-3 control-label"
                .col-sm-9
                  = cp.file_field :bundle, id: "fileUpload"
                  .input-group
                    %input#filename.form-control.disabled{ placeholder: "Select File", readonly: true}
                    %span#fileSelect.btn.btn-info.input-group-addon
                      %i.fa.fa-folder-open-o
                      Select File
          .form-group
            .col-sm-12
              = f.text_area :description, class: "form-control", placeholder: "Deskripsi..."
        .modal-footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-upload
            Simpan
          %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
            %i.fa.fa-times
            Cencel