- content_for :specific_js do
	= javascript_include_tag "course", "data-turbolinks-track" => true
%header
	.row
		.col-md-6
			%h1
				%i.fa.fa-file
				Pkl
		.col-md-6
			- if user_signed_in?
				.pull-right
					.action{style: "margin-top: 15px;"}
						.btn-group
							- if can_become_supervisor? @pkl
								= link_to become_supervisor_pkl_supervisors_path(@pkl), class: "btn btn-success btn-lg", method: :post, data: {confirm: "Konfirmasi Pembimbing ?"} do
									%i.fa.fa-gavel
									Bimbing
							- if can? :edit, @pkl
								= link_to edit_pkl_path(@pkl), class: "btn btn-primary btn-lg", remote: true do
									%i.fa.fa-edit
									Edit
							- if can? :destroy, @pkl
								= link_to @pkl, class: "btn btn-danger btn-lg", method: :delete, data: {confirm: "Konfirmasi Penghapusan ? "} do
									%i.fa.fa-trash-o
									Hapus
%section
	.row
		.col-sm-4
			#writer
				%header
					%h2 Penulis
				%section
					.row
						.col-sm-4
							= image_tag(@pkl.student.avatar.image.url(:medium), class: "img-circle img-thumbnail")
						.col-sm-8
							%blockquote
								%p
									= @pkl.student.to_s
									%small
										%cite{title: "Jurusan"}= @pkl.student.department.name
										%i.fa.fa-thumb-tack
				%footer
			#info
				%header
					%h2 Detail Pkl
				%section
					%table.table.table-bordered
						%tr
							%th
								.text-center Fakultas
							%td
								.text-center= @pkl.student.department.faculty.name
						%tr
							%th
								.text-center Konsentrasi
							%td
								.text-center= @pkl.concentration.try(:name)
				%footer
			#papers
				%header
					%h2 Berkas File
				%section
					%table#paper.table.table-bordered{"data-source" => "#{pkl_papers_url(@pkl, format: "json")}"}
						%thead
							%tr
								%th
									.text-center Nama Berkas
								%th
									.text-center Action
						%tbody
				%footer
					.pull-right
						- if user_signed_in? && can_create_paper?(@pkl)
							= link_to new_pkl_paper_path(@pkl), class: "btn btn-primary", remote: true do
								%i.fa.fa-upload
								Tambah File
					.clearfix
			#additional-report
				%header
					%h2 Laporan Tambahan
				%section
					%table#reports.table.table-bordered{"data-source" => "#{pkl_reports_url(@pkl, format: "json")}"}
						%thead
							%tr
								%th
									.text-center Nama File
								%th
									.text-center Tanggal Upload
								%th
									.text-center Action
						%tbody
				%footer
					.pull-right
						- if user_signed_in? && can_create_report?(@pkl)
							= link_to new_pkl_report_path(@pkl), class: "btn btn-primary", remote: true do
								%i.fa.fa-bar-chart-o
								Upload laporan tambahan
					.clearfix
		.col-sm-8
			#main
				%header
					%h3
						%blockquote
							%p.lead= @pkl.title
				%section
					%p= @pkl.description
				%footer
			#activities
				%header
					%h2
						%i.fa.fa-exchange
						Aktifitas
				%section
					%ul.nav.nav-tabs
						%li.active
							= link_to "#supervisors", "data-toggle" => "tab" do
								%i.fa.fa-group
								Pembimbing
						%li
							= link_to "#feedbacks", "data-toggle" => "tab" do
								%i.fa.fa-comments
								Feedbacks
								%span.badge= @pkl.feedbacks_count
						%li
							= link_to "#consultations", "data-toggle" => "tab" do
								%i.fa.fa-exchange
								Catatan Bimbingan
					.tab-content
						#supervisors.tab-pane.fade.in.active
							%header
								.row
									.col-sm-6
										%h2
											%i.fa.fa-group
											Pembimbing
									.col-sm-6
										.pull-right
											.action{style: "margin-top: 20px;"}
												- if user_signed_in? && can_create_supervisor?(@pkl)
													= link_to new_pkl_supervisor_path(@pkl), class: "btn btn-default", remote: true do
														%i.fa.fa-group
														Assign Dosen
							%section
								%table#supervisor.table.table-bordered{"data-source" => "#{pkl_supervisors_url(@pkl, format: "json")}"}
									%thead
										%tr
											%th
												.text-center Nama Dosen
											%th
												.text-center Level
											%th
												.text-center Pengaju Pembimbing
											%th
												.text-center Jenis Pengaju
											%th
												.text-center Status
											%th
												.text-center Tanggal Persetujuan
											%th
												.text-center Action
									%tbody
						#feedbacks.tab-pane.fade{"data-source" => "#{pkl_feedbacks_path(@pkl)}"}
							%header
								.row
									.col-sm-6
										%h2
											%i.fa.fa-comments
											Feedback
									.col-sm-6
										.pull-right
											.action{style: "margin-top: 20px;"}
												- if user_signed_in?() && can_create_feedback?(@pkl)
													= link_to new_pkl_feedback_path(@pkl), class: "btn btn-default", remote: true do
														%i.fa.fa-comment
														Tambah Feedback
						#consultations.tab-pane.fade
							%header
								.row
									.col-sm-6
										%h2
											%i.fa.fa-exchange
											Catatan Bimbingan
									.col-sm-6
										.pull-right
											.action{style: "margin-top: 20px;"}
												- if user_signed_in? && can_create_consultation?(@pkl)
													= link_to new_pkl_consultation_path(@pkl), class: "btn btn-default", remote: true do
														%i.fa.fa-upload
														Buat baru
												= link_to pkl_consultations_path(@pkl), class: "btn btn-primary", remote: "true" do
													%i.fa.fa-print
													Cetak
							%section
								%table#consultation.table.table-bordered{"data-source" => "#{pkl_consultations_url(@pkl, format: "json")}"}
									%thead
										%tr
											%th
												.text-center Tanggal dibuat
											%th
												.text-center Pembuat
											%th
												.text-center Status
											%th
												.text-center Konsultasi berikutnya
											%th
												.text-center Saran / Arahan
											%th
												.text-center Action
									%tbody