%h1 Listing examiners

%table
  %tr
    %th Sidang
    %th Lecturer
    %th
    %th
    %th

  - @examiners.each do |examiner|
    %tr
      %td= examiner.sidang_id
      %td= examiner.lecturer_id
      %td= link_to 'Show', examiner
      %td= link_to 'Edit', edit_examiner_path(examiner)
      %td= link_to 'Destroy', examiner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Examiner', new_examiner_path
