#conference-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "conferenceModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#departmentModalLabel.modal-title Persetujuan Akhir Seminar / Sidang
			= form_for @seminar, url: edit_department_director_approval_skripsi_seminar_path(@skripsi, @seminar), remote: "true", html: {role: "form", class: "form-horizontal", method: :put} do |f|
				.modal-body
					= render 'layouts/shared/errors', :object => f.object
					.form-group
						= f.label :tanggal_dilaksanakan, class: "col-sm-3 control-label"
						.col-sm-9
							.input-group.date.datepicker
								= f.text_field :undertake_plan, class: "form-control", placeholder: "Rencana Tanggal pelaksanaan", "data-format" => "YYYY-MM-DD"
								%span.input-group-addon
									%span.fa.fa-calendar
					.form-group
						= f.label :persetujuan_prodi, class: "col-sm-3 control-label"
						.col-sm-9
							.checkbox
								%label
									= f.check_box :department_director
									Setujui Pengajuan Seminar
				.modal-footer
					%button.btn.btn-primary{type: "submit"}
						%i.fa.fa-upload
						Simpan
					%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
						%i.fa.fa-times
						Cencel