#lecturer-detail.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "lecturerDetailModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
				%h4#lecturerDetailModalLabel.modal-title
					%i.fa.fa-user
					Detail Dosen
			.modal-body
				.row-fluid
					.col-md-10.col-md-offset-1
						#modalTab
							.tab-content
								.tab-pane.active
									#photo{style: "text-align:center;"}
										= image_tag(@lecturer.avatar.image.url(:medium), class: "img-circle img-thumbnail", width: "140", height: "140")
									%hr.rainbow
									%h3.media-heading{style: "text-align:center;"}
										= @lecturer.to_s
										%small= @lecturer.department.name
										%br
										%small= @lecturer.nip
										%br
										%small= @lecturer.nid
										%br
										%small= @lecturer.user.username
									%hr.rainbow
									.row
										.col-sm-2
											%h3{style: "margin-top: 0; margin-bottom: 0;"}
												%i.fa.fa-envelope
										.col-sm-10
											%address= @lecturer.user.email
									%hr
									.row
										.col-sm-2
											%h1{style: "margin-top: 0; margin-bottom: 0;"}
												%i.fa.fa-map-marker
										.col-sm-10
											%address= @lecturer.address
									%hr
									.row{style: "text-align:center;"}
										.col-sm-6
											%strong Tanggal Lahir :
											%br
											%i.fa.fa-calendar
											= @lecturer.born.try(:to_formatted_s, :long_ordinal)
										.col-sm-6
											%strong Level :
											%br
											%i.fa.fa-sitemap
											= @lecturer.level
					.clearfix
			.modal-footer
				= link_to reset_password_lecturer_path(@lecturer), class: "btn btn-danger", method: :post, data: {confirm: "Konfirmasi reset password ?"} do
					%i.fa.fa-key
					Reset Password
				%button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
					%i.fa.fa-times
					Close