#lecturer-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "lecturerModalLabel", "aria-hidden" => true, "data-backdrop" => "static", "data-keyboard" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
        %h4#lecturerModalLabel.modal-title
          = @lecturer.new_record? ? "Tambah Dosen" : "Edit Dosen"
      = form_for @lecturer, remote: "true", html: {role: "form", class: "form-horizontal"} do |f|
        .modal-body
          = render 'layouts/shared/errors', :object => f.object
          %legend Data Dosen
          .form-group
            = f.label :nip, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :nip, class: "form-control", placeholder: "Nip"
          .form-group
            = f.label :nid, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :nid, class: "form-control", placeholder: "Nid"
          .form-group
            = f.label :nama_lengkap, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :full_name, class: "form-control", placeholder: "Nama Lengkap"
          .form-group
            = f.label :alamat, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_area :address, class: "form-control", placeholder: "Alamat"
          .form-group
            = f.label :tanggal_lahir, class: "col-sm-3 control-label"
            .col-sm-9
              .input-group.date.datepicker
                = f.text_field :born, class: "form-control", placeholder: "Tanggal Lahir", "data-format" => "YYYY-MM-DD"
                %span.input-group-addon
                  %span.fa.fa-calendar
          .form-group
            = f.label :level_dosen, class: "col-sm-3 control-label"
            .col-sm-9
              = f.select :level, options_for_select(Lecturer::LEVEL, selected: @lecturer.level), {}, {class: "form-control"}
          .form-group
            = f.label :gelar_depan, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :front_title, class: "form-control", placeholder: "Gelar Depan"
          .form-group
            = f.label :gelar_belakang, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :back_title, class: "form-control", placeholder: "Gelar Belakang"
          .form-group
            = f.label :jurusan, class: "col-sm-3 control-label"
            .col-sm-9
              = f.select :department_id, options_for_select(departments_opt, selected: @lecturer.department_id), {}, {class: "form-control"}
          .from-group
            .col-sm-9.col-sm-offset-3
              .checkbox
                %label
                  = f.check_box :is_admin
                  Ketua Prodi / Sekertaris prodi
            / = f.label :is_admin, "Amin ?".
          - if @lecturer.new_record?
            %legend Data User
            %span.help-block Kosongkan Semua Field di bawah jika menginginkan sistem meng-generate nya
            = f.fields_for :user, @lecturer.build_user do |su|
              .form-group
                = su.label :email, class: "col-sm-3 control-label"
                .col-sm-9
                  = su.email_field :email, class: "form-control", placeholder: "Email"
              .form-group
                = su.label :username, class: "col-sm-3 control-label"
                .col-sm-9
                  = su.text_field :username, class: "form-control", placeholder: "Username"
              %legend Credential
              .form-group
                = su.label :password, class: "col-sm-3 control-label"
                .col-sm-9
                  = su.password_field :password, class: "form-control", placeholder: "Password"
              .form-group
                = su.label :password_confirmation, class: "col-sm-3 control-label"
                .col-sm-9
                  = su.password_field :password_confirmation, class: "form-control", placeholder: "Password Konfirmasi"
        .modal-footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-upload
            Simpan
          %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
            %i.fa.fa-times
            Cencel