<!DOCTYPE html>
<html>
<head>
  <title>TiProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :specific_js %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="cover"></div>
	<div id="the-flash">
		<%= render partial: 'layouts/shared/flash', locals: {flash: flash} %>
	</div>
	<%= yield %>

</body>
</html>
