!!!
%html{lang: "en"}
	%head
		%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
		%title= "SIMPS"
		= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true
		= javascript_include_tag hierarchical_part_url
		= javascript_include_tag "application", "data-turbolinks-track" => true
		
		= yield :specific_js
		= yield :bottom_js
		/[if lt IE 9]
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		= csrf_meta_tags
	%body 
		%section
			- if user_signed_in?
				%input#identification-unique{type: "hidden", value: current_user.socket_identifier}
			#cover
			= render 'layouts/shared/header'
			#the-flash
				= render partial: 'layouts/shared/flash', locals: {flash: flash}
			#background
				= image_tag("background1.jpg")
			#wraper.container
				.row
					= yield
