!!!
%html
	%head
		%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
		%title TiProject
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		/[if lt IE 9]
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		= csrf_meta_tags
	%body
		#cover
		= render 'layouts/shared/header'
		#background
			= image_tag("background.jpg")
		#the-flash
			= render partial: 'layouts/shared/flash', locals: {flash: flash}
		.container
			.row
				= yield